.vscode/
.idea/

deepLSpec/*/.ipynb_checkpoints
deepLSpec/*/*/.ipynb_checkpoints

*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*/*/*/*/*/*/__pycache__
*/*/*/*/*/*/*/__pycache__
